<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>the options are </p>
    <ul>
        <li>flip</li>
        <li>mirror</li>
        <li>creepify</li>
        <li>bubbles</li>
        <li>squares</li>
        <li>roundedsquares</li>
        <li>bent</li>
        <li>tiny</li>
    </ul>

    <p>to use the site the url/website link  has to be in the format  https://websitename/option/anyText</p>
</body>
</html>