<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .blockquote-custom {
            position: relative;
            font-size: 1.1rem;
        }

        body {
            background: #eff0eb;
            background-image: url('https://i.postimg.cc/MTbfnkj6/bg.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
        p{
            font-size: 2em;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <!-- CUSTOM BLOCKQUOTE -->
                    <h1 class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                        <p class="mb-0 mt-1 txt "><%= text %></p>
                    </h1><!-- END -->
                </div>
            </div>
        </div>
    </section>
</body>

</html>